@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
}

small {
  display: block;
  font-size: 13px;
  margin-bottom: 15px;
}

.page {
  padding: 5px;
}

.loader-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.--bg-charcoal {
  color: #fff;
  background: #373737;
}

.--bg-green {
  background: #8c0;
}

.alert {
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 15px;
}

.alert-success {
  background: #8c0;
}

.alert-failure {
  background: #FE4A49;
}

.alert-info {
  background: #009FB7;
}