@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
}

small {
  display: block;
  font-size: 13px;
  margin-bottom: 15px;
}

menu {
  margin: 0;
  padding: 0;
}

.page {
  margin: 5px;
}

.loader-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.--bg-charcoal {
  color: #fff;
  background: #373737;
}

.--bg-green {
  background: #8c0;
}

.--bg-blue {
  background: #b0d2ff;
}

.alert {
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 15px;
}

.error-container {
  padding-left: 20px;
  padding-right: 20px;

  li {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.middle-section {
  display: flex;
}

.content {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entry-list {
  margin-top: 15px
}

.date-picker {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 450px;
}

.pointer {
  cursor: pointer;
}

.details__nav {
  display: flex;
  justify-content: space-between;
  width: 240px
}

.details__nav--back {
  position: relative;
  padding: 10px 45px 10px 0;
  cursor: pointer;

  span {
    position: absolute;
    left: 20px;
    bottom: 9px;
  }
}

.details__nav__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.details--action-btn {
  width: 70px;
  font-size: 14px;
}

.cke-name {
  margin-top: 15px;
  margin-bottom: .5rem;
}

.ck-editor__editable {
  min-height: 400px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap-reverse;
  gap: 15px;

  h3 {
    margin-bottom: 30px;
  }
}

.top__action-buttons {
  .btn {
    min-width: 85px;
    margin-left: 10px;
  }

  .btn:first-of-type {
    margin-left: 0;
  }
}

.item-with-action {
  display: flex;
  justify-content: space-between;
}

.navigation {
  margin-bottom: 15px;
}

.table-list {
  margin-top: 15px;
}