$menuHeight: 50px;

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $menuHeight;
  padding: 0 15px;

  .menu-left {
    display: flex;
    justify-items: flex-start;

    .menu-item {
      align-items: center;
    }
  }

  .menu-right {
    display: flex;
    justify-items: flex-end;
  }

  .menu-item:hover .menu-text {
    color: #fff9;
  }
}

.side-menu {
  width: 300px;
  height: calc(100vh - #{$menuHeight});
  background: #eee;
  z-index: 999;

  .menu-item {
    margin-left: 15px;
    margin-top: 15px;
  }

  .menu-item:hover .menu-text {
    color: #0009;
  }
}

@media (max-width: 1024px) {
  .side-menu {
    position: fixed;
  }
}

.side-menu, .menu {
  .icon {
    margin-right: 5px;
  }

  .menu-item {
    display: flex;
    font-size: 15px;
    cursor: pointer;
  }
}

.side-menu.hidden {
  width: 0;
  overflow: hidden;
}