.register-page {
  display: flex;
  justify-content: center;
  align-content: center;
}

.register-form {
  width: 500px;
  margin: 10px;
  padding: 50px 10px;
  border: 1px solid #0008;
  border-radius: 3px;
}

.confirmation-box {
  margin: 15px;
}

